@model List<Czytelnik>
@{
    Layout = null;
    if (Session["IdPracownika"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>Lista Czytelnikow</h2>
<button  id="valButton"  onclick="ukryj()">Wyszukaj</button>
<div id="ukrytyDiv" hidden>
    <p>Wyszukaj Czytelnika</p>
    <p>Imie Czytelnika:</p>
    <input id="szukajImie" />
    <p>Nazwisko Czytelnika:</p>
    <input id="szukajNazwisko" />
    <p></p>
    <button onclick="znajdzCzytelnika()">Znajdź Czytelnika</button>
</div>
<div id="czytelnicy"></div>

<table class="table table-hover">
    <tbody>

        @foreach (var c in Model)
        {
            <tr id="dane">
                <td id="imie">Imię: @c.ImieCzytelnika</td>
                <td id="nazwisko">Nazwisko: @c.NazwiskoCzytelnika</td>

            </tr>
        }

    </tbody>
</table>

<form action="https://localhost:44329/Home/Glowna">
    <input type="submit" value="Główna" />
</form>
<script>
     function znajdzCzytelnika() {

         var daneImie = document.querySelectorAll('[id=imie]');
         var daneNazwisko = document.querySelectorAll('[id=nazwisko]');
        var imie = "Imię: " + document.getElementById("szukajImie").value;
        var nazwisko = "Nazwisko: " + document.getElementById("szukajNazwisko").value;
        //  document.getElementById("czyWypozyczona").innerHTML = false;

       
      

         for (let i = 0; i < daneImie.length; i++) {
             
             if ((daneImie[i].innerHTML == imie && nazwisko == "Nazwisko: ") ||
                 (imie == "Imię: " && daneNazwisko[i].innerHTML == nazwisko) ||
                 daneImie[i].innerHTML == imie && daneNazwisko[i].innerHTML == nazwisko) {
                 daneImie[i].hidden = false;
                 daneNazwisko[i].hidden = false;
                 
             }
             else {
                 daneImie[i].hidden = true;
                 daneNazwisko[i].hidden = true;
                 console.log(daneImie[i].innerHTML)
                 console.log(imie)
                 
             }






            }





        }
    
    var a = false;
    function ukryj() {
        console.log("1");
        document.getElementById('ukrytyDiv').hidden = a;
        if (a == true) {
            document.getElementById('valButton').innerHTML = "Wyszukaj";
        }
        else {
     document.getElementById('valButton').innerHTML = "Ukryj Wyszukiwanie";
        }
        a = !a;
        console.log(a);
    }
</script>