@model List<Czytelnik>
@{
    Layout = null;
    if (Session["IdPracownika"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>Lista Czytelnikow</h2>
<table class="table table-hover">
    <tbody>

        @foreach (var c in Model)
        {
            <tr>
                <td> Imię: @c.ImieCzytelnika </td>
                <td> Nazwisko: @c.NazwiskoCzytelnika</td>
                
            </tr>
        }

    </tbody>
</table>

<form action="https://localhost:44329/Home/Glowna">
    <input type="submit" value="Główna" />
</form>
